#include <iostream>

using namespace std;

int main () {

float profEsp, altPis, resultado;

        cout << "Bem vindo ao calculador de escadas!" << endl;
        cout << "Insira o espelho (altura do degrau): ";
        cin >> altPis; 
        cout << "Agora insira o piso (profundidade do degrau): ";
        cin >> profEsp;
        
    resultado = 2*altPis + profEsp;


    if (63 <= resultado) {
    if (64 >= resultado)    
        cout << resultado << endl << "Muito bem! A escada pode ser executada!";
    }
    else  {
        cout << resultado << endl << "A escada nao deve ser executada!" << endl;
    }
    return 0;
}
